/src/obj
/src/bin
/docs/CAB301-A1-Report.synctex.gz
/docs/CAB301-A1-Report.log
/docs/CAB301-A1-Report.fdb_latexmk
/docs/CAB301-A1-Report.toc
/docs/CAB301-A1-Report.fls
/docs/CAB301-A1-Report.aux
/docs/CAB301-A1-Report.out
/.vscode